<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
{% include 'public/pieces/header.html' %}
<main>
    <div class="container">
        {% if validlink %}
            <p>Please enter (and confirm) your new password.</p>
            <form action="" method="post">
                {% csrf_token %}
                {% if error %} <div class="alert alert-warning" role="alert">
                      {{ error }}
                    </div> {% endif %}
                <table>
                    <tr>
                        <td>{{ form.password1.errors }}
                            <label for="id_new_password1">New password:</label></td>
                        <td>{{ form.password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.password2.errors }}
                            <label for="id_new_password2">Confirm password:</label></td>
                        <td>{{ form.password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Change my password" /></td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h1>Password reset failed</h1>
            <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
        {% endif %}
    </div>
</main>
{% include 'public/pieces/footer.html' %}
</body>
</html>